[Desktop Entry]
Type=Application
Name=Mixologist
Icon=mixologist
Exec=SDL_VIDEODRIVER=wayland mixologist
StartupWMClass=mixgui
Terminal=false
Comment=GUI for audio mixing
Categories=Audio;Utility;Mixer
