[Desktop Entry]
Type=Application
Name=Mixologist
Icon=mixologist
Exec=env SDL_VIDEODRIVER=wayland mixologist
StartupWMClass=mixologist
Terminal=false
Comment=GUI for audio mixing
Categories=AudioVideo;Utility;Mixer
